// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}
ion-content {
--background: linear-gradient(#000000, #607d8b);
}
ion-header {
--background: none;
}
ion-toolbar{
--background: none;
}
ion-item{
--background: none;
}

  